<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.path.dao.PatientMapper">
  <resultMap id="BaseResultMap" type="com.path.bean.Patient">
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="page" jdbcType="VARCHAR" property="page" />
    <result column="psex" jdbcType="VARCHAR" property="psex" />
    <result column="pphone" jdbcType="VARCHAR" property="pphone" />
    <result column="paddress" jdbcType="VARCHAR" property="paddress" />
    <result column="pdepartment" jdbcType="VARCHAR" property="pdepartment" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="entertime" jdbcType="DATE" property="entertime" />
    <result column="outtime" jdbcType="DATE" property="outtime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    pid, pname, page, psex, pphone, paddress, pdepartment, status, entertime, outtime
  </sql>
  <select id="selectByExample" parameterType="com.path.bean.PatientExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from patient
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from patient
  </select>
  <select id="selectByInputValuePa"  parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from patient
    where pid =#{inputvalue}  or pname like concat('%',#{inputvalue},'%')
  </select>
  <select id="selectByKey"  parameterType="java.lang.Integer"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from patient
    where pid = #{pid,jdbcType=INTEGER}
  </select>
   <select id="checkPatient"  parameterType="com.path.bean.Patient"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from patient
    where pid = #{pid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from patient
    where pid = #{pid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.path.bean.PatientExample">
    delete from patient
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.path.bean.Patient">
    insert into patient (pid, pname, page, 
      psex, pphone, paddress, 
      pdepartment, status, entertime, 
      outtime)
    values (#{pid,jdbcType=INTEGER}, #{pname,jdbcType=VARCHAR}, #{page,jdbcType=VARCHAR}, 
      #{psex,jdbcType=VARCHAR}, #{pphone,jdbcType=VARCHAR}, #{paddress,jdbcType=VARCHAR}, 
      #{pdepartment,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{entertime,jdbcType=DATE}, 
      #{outtime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.path.bean.Patient">
    insert into patient
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        pid,
      </if>
      <if test="pname != null">
        pname,
      </if>
      <if test="page != null">
        page,
      </if>
      <if test="psex != null">
        psex,
      </if>
      <if test="pphone != null">
        pphone,
      </if>
      <if test="paddress != null">
        paddress,
      </if>
      <if test="pdepartment != null">
        pdepartment,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="entertime != null">
        entertime,
      </if>
      <if test="outtime != null">
        outtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="pname != null">
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="page != null">
        #{page,jdbcType=VARCHAR},
      </if>
      <if test="psex != null">
        #{psex,jdbcType=VARCHAR},
      </if>
      <if test="pphone != null">
        #{pphone,jdbcType=VARCHAR},
      </if>
      <if test="paddress != null">
        #{paddress,jdbcType=VARCHAR},
      </if>
      <if test="pdepartment != null">
        #{pdepartment,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="entertime != null">
        #{entertime,jdbcType=DATE},
      </if>
      <if test="outtime != null">
        #{outtime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.path.bean.PatientExample" resultType="java.lang.Long">
    select count(*) from patient
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update patient
    <set>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=INTEGER},
      </if>
      <if test="record.pname != null">
        pname = #{record.pname,jdbcType=VARCHAR},
      </if>
      <if test="record.page != null">
        page = #{record.page,jdbcType=VARCHAR},
      </if>
      <if test="record.psex != null">
        psex = #{record.psex,jdbcType=VARCHAR},
      </if>
      <if test="record.pphone != null">
        pphone = #{record.pphone,jdbcType=VARCHAR},
      </if>
      <if test="record.paddress != null">
        paddress = #{record.paddress,jdbcType=VARCHAR},
      </if>
      <if test="record.pdepartment != null">
        pdepartment = #{record.pdepartment,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.entertime != null">
        entertime = #{record.entertime,jdbcType=DATE},
      </if>
      <if test="record.outtime != null">
        outtime = #{record.outtime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update patient
    set pid = #{record.pid,jdbcType=INTEGER},
      pname = #{record.pname,jdbcType=VARCHAR},
      page = #{record.page,jdbcType=VARCHAR},
      psex = #{record.psex,jdbcType=VARCHAR},
      pphone = #{record.pphone,jdbcType=VARCHAR},
      paddress = #{record.paddress,jdbcType=VARCHAR},
      pdepartment = #{record.pdepartment,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      entertime = #{record.entertime,jdbcType=DATE},
      outtime = #{record.outtime,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.path.bean.Patient">
    update patient
    <set>
      <if test="pname != null">
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="page != null">
        page = #{page,jdbcType=VARCHAR},
      </if>
      <if test="psex != null">
        psex = #{psex,jdbcType=VARCHAR},
      </if>
      <if test="pphone != null">
        pphone = #{pphone,jdbcType=VARCHAR},
      </if>
      <if test="paddress != null">
        paddress = #{paddress,jdbcType=VARCHAR},
      </if>
      <if test="pdepartment != null">
        pdepartment = #{pdepartment,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="entertime != null">
        entertime = #{entertime,jdbcType=DATE},
      </if>
      <if test="outtime != null">
        outtime = #{outtime,jdbcType=DATE},
      </if>
    </set>
    where pid = #{pid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.path.bean.Patient">
    update patient
    set pname = #{pname,jdbcType=VARCHAR},
      page = #{page,jdbcType=VARCHAR},
      psex = #{psex,jdbcType=VARCHAR},
      pphone = #{pphone,jdbcType=VARCHAR},
      paddress = #{paddress,jdbcType=VARCHAR},
      pdepartment = #{pdepartment,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      entertime = #{entertime,jdbcType=DATE},
      outtime = #{outtime,jdbcType=DATE}
    where pid = #{pid,jdbcType=INTEGER}
  </update>
</mapper>